{% extends "base.html" %}

{% block content %}
<h1>Update Item</h1>
    <form method="POST" class="mt-4">
        <div class=""mb-3>
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ item[1] }}" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" name="description" rows="3" required>{{ item[2] }}</textarea>

        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
    {% endblock %}